body {
    background: rgb(2, 116, 2);
    color: black;
}

/* MAIN */

body.main .hero-area,
body.index .hero-area {
    background-image: url(images/blossom3.jpg);
}

body.burnside .hero-area {
    background-image: url(images/burnside.jpg);
}

body.main .hero-area .overlay,
body.index .hero-area .overlay,
body.burnside .hero-area .overlay {
    background: none;
}

.transparent-background {
    background: rgba(128, 128, 128, 0.8);
    border-radius: 10px;
    border: 1px solid transparent;
}

.banner-content {
    background: rgba(128, 128, 128, 0.6);
    border-radius: 10px;
    border: 1px solid transparent;
}

.banner-content h3,
.banner-content h4 {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.parallux-area .overlay {
    background: none;
}

.border-top-generic {
    padding-top: 40px !important;
}